@model List<Slider>
@{
    int counter = 0;
}
<div class="container-fluid">
    <div class="row align-items-center justify-content-between">
        <h1>Sliders:</h1>
        <a asp-action="create" asp-controller="slider" class="btn btn-primary">Create</a>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Image</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                counter++;
                <tr>
                    <th scope="row">@counter</th>
                    <td>@item.Title</td>
                    <td>
                        <img style="width:150px" src="~/uploads/sliders/@item.ImageUrl" />
                    </td>
                    <td>
                        <a asp-action="edit" asp-controller="slider" asp-route-id="@item.Id" class="btn btn-warning">Edit</a>
                        <a asp-action="softdelete" asp-controller="slider" asp-route-id="@item.Id" class="btn btn-info delete-btn">SoftDelete</a>
                        <a asp-action="harddeleteconfirmed" asp-controller="slider" asp-route-id="@item.Id" class="btn btn-danger delete-btn">HardDelete</a>
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>